{% from 'grunt/map.jinja' import map with context %}

{% set settings = salt['dict_utils.merge']({
    'logdir':   '/var/log/grunt',
    'pkg':      'grunt',
    'pkg_cli':  'grunt-cli',
}, map, salt['pillar.get']('grunt')) %}
